<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
      <binding name="webHttpBindingConfig"
          maxReceivedMessageSize="9223372036854775807" transferMode= "Streamed" sendTimeout="00:10:00" />
      </webHttpBinding>
    </bindings> 
    <services>
      <service name="ThrowAndCatchServer.Services.Service">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:10002/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" 
                  bindingConfiguration="webHttpBindingConfig"
                  contract="ThrowAndCatchServer.Services.IService" 
                  behaviorConfiguration="behavior">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="behavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
